* {
	box-sizing: border-box;
}

.group {
	width: 100%;
	height: 110px;
	overflow: hidden;
	position: relative;
  padding-bottom: 15%;
  padding-left: 30%;
}
.header{

  text-align: center;
}
.groupD {

  width: 50%;
  height: 110px;
  position: relative;
  text-align: center;
  padding-left: 30%;
}
h1{
 
  padding-bottom: 5%;
  font-family: sans-serif;

}


label {
	position: absolute;
	top: 36.66667px;
	color: #222;
	font: 400 36.66667px sans-serif;
	cursor: text;
	transition: .25s ease;
}

input {
	display: block;
	width: 100%;
	padding-top: 36.66667px;
	border: none;
	border-radius: 0;
	color: #222;
	background: none;
	font-size: 36.66667px;
	transition: .3s ease;
}
input:valid ~ label {
	top: 0;
	font: 700 22px sans-serif;
	color: #222;
}
input:focus {
	outline: none;
}
input:focus ~ label {
	top: 0;
	font: 700 22px sans-serif;
	color: #222;
}
input:focus ~ .bar:before {
	transform: translateX(0);
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #222 inset;
	-webkit-text-fill-color: white !important;
}

.bar {
	background: #222;
	content: '';
	width: 550px;
	height: 3.66667px;
	transition: .3s ease;
	position: relative;
}
.bar:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 150%;
	background: white;
	transform: translateX(-100%);
}

.submit {
	cursor: pointer;
	padding: 5px;
	background: #222;
	color: #222;
}


.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  position: relative;
  font-size: 30px;
  color: #fff;
  width: 550px;
  height: 55px;
  font-family: sans-serif;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c0392b;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-styled:hover {
  background-color: #b83729;
}

.select-styled:active, .select-styled.active {
  background-color: #ab3326;
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ab3326;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #962d22;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  color: #c0392b;
  background: #fff;
}

.select-options li[rel="hide"] {
  display: none;
}
.button {
    background-color: #ab3326;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: sans-serif;
}
